# This line does two things:
# - enable git's CRLF -> LF modification
# - tell git to guess whether files are text or binary
*                       text=auto

# Enforce LF endings
* text                  eol=lf

# Mark .zip files as binary to prevent git from trying to merge it
*.zip                   binary

# Mark .pnp.* as binary to prevent git from trying to merge it
.pnp.*                  binary linguist-generated

# Hide .yarn from GitHub's language detection
.yarn/**                linguist-vendored